[Unit]
Description=chodba app_controller service
After=mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
Restart=always
RestartSec=1
Environment="PYTHONPATH=/opt/chodba-framework/"
WorkingDirectory=/opt/chodba-framework/system/app_controller
ExecStart=./app_controller.py chodba-ki01 1883 tcp
User=pi
StandardOutput=file:/var/log/chodba/app_controller.log
StandardError=file:/var/log/chodba/app_controller.err

[Install]
WantedBy=multi-user.target

